In [1]:
import pandas as pd
import json

In [2]:
## 從rest api 的方向抓
## https://cloud.culture.tw/frontsite/trans/SearchShowAction.do?method=doFindTypeJ&category=all
## 以category all 做選擇 拉取所有活動

local_path ="C:/Users/USER/Desktop/python_work"

with open(local_path + "/" + "all_category.json", encoding="utf8") as f:
    data = json.loads(f.read())
    
df_nested_list = pd.read_json(local_path + "/" + "all_category.json")


df = pd.json_normalize(data,record_path =['showInfo'] , meta=['UID','title','category','discountInfo','masterUnit','comment','startDate','endDate','hitRate'])
df.replace('^\s+', '', regex=True, inplace=True) #front
df.replace('\s+$', '', regex=True, inplace=True) #end
df['masterUnit'] = df['masterUnit'].astype(str)

df = df.drop_duplicates()

In [3]:
import pymysql
from sqlalchemy import create_engine
# Open database connection
# conn = pymysql.connect(host='127.0.0.1', port=3306, user='testadmin', passwd='testadmin', db='test', charset='utf8')
conn  =create_engine('mysql+pymysql://testadmin:testadmin@localhost:3306/test?charset=utf8mb4')

category_query = "SELECT * FROM category_type"
category_df = pd.read_sql(category_query, conn)


df['category'] = df['category'].astype(int)
category_df['id'] = category_df['id'].astype(int)

category_df=category_df.rename(columns = {"value":"category_name"})


merge_df =pd.merge(df, category_df, left_on="category", right_on="id")

merge_df = merge_df[['time','location','locationName','onSales','price','endTime','UID','title','category_name','discountInfo','masterUnit','comment','startDate','endDate','hitRate']]
merge_df.to_sql(name='event_info', con=conn, if_exists = 'replace', index=False)